body {
  .desktop-grid {
    position: relative;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 30px);
    padding: 5px;

    .flex-file-space {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
