.flex-file-space,
.modal[window-type="folder"] {
  .icon {
    position: relative;
    width: 70%;
    height: 70%;
    bottom: 10%;
    border: unset;
    cursor: pointer;
    transition: 200ms;

    span {
      position: absolute;
      background-color: rgba(221, 238, 255, 0.8);
      padding: 2px 3px;
      width: 100%;
      max-height: 30%;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
      top: 95%;
      left: 50%;
      transform: translateX(-50%);
    }
    span:active,
    span:focus {
      max-height: none;
      height: auto;
      overflow: auto;
    }
  }
  .icon:hover {
    z-index: 999;
    transform: scale(1.1);
    span {
      max-height: none;
      height: auto;
      overflow: auto;
    }
  }

  .icon[icon-type] {
    background: unset;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .icon[icon-type="folder"] {
    background-image: url(/assets/img/icons/folder.png);
  }
  .icon[icon-type="txt"] {
    background-image: url(/assets/img/icons/txt.png);
  }
}
