.modals {
  .modal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;

    .top {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: blue;
      height: 30px;
      align-items: center;

      .title {
        margin-left: 10px;
        font-weight: 700;
      }

      .top-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        align-items: center;
        justify-content: end;

        .minimize,
        .expand,
        .close {
          position: relative;
          border: 1px solid #000;
          width: 20px;
          height: 20px;
          text-align: center;
          font-weight: 700;
          border-radius: 5px;
          cursor: pointer;
        }

        .minimize.disabled,
        .expand.disabled,
        .close.disabled {
          cursor: pointer;
        }

        .minimize.disabled::after,
        .expand.disabled::after,
        .close.disabled::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #0006;
        }

        .minimize {
          background-color: lightblue;
        }
        .expand {
          background-color: lightblue;
        }
        .close {
          background-color: red;
        }
      }
    }
    .menu {
      background-color: grey;
      height: 40px;
    }
    .window {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 100%;

      .side {
        background-color: rgb(195, 195, 195);
        height: 100%;
        width: 200px;
      }
      .main {
        height: 100%;
        width: 100%;
      }
      .main:not(.no-scroll) {
        overflow-y: scroll;
      }
    }
  }

  .modal.expanded {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }
}
