.taskbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 10;
  user-select: none;

  .start-menu-btn {
    margin-right: 5px;
  }

  * {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  *[window-type]:hover:not(:active) {
    box-shadow: inset 1px 1px 2px #000;

    span {
      display: block;
    }
  }

  *[window-type].active:not(:hover) {
    box-shadow: inset -2px -2px 5px #fff;
  }

  *[window-type] img {
    width: 80%;
    height: 80%;
  }

  *[window-type] span {
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100px;
    height: auto;
    padding: 3px;
    top: -100%;
    text-align: center;
    font-size: 0.8rem;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 5px;
  }
}
