*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}
body .desktop-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  border: 1px solid #ccc;
  white-space: nowrap;
  background: #fff;
  color: #333;
  border-radius: 5px;
  padding: 0;
}
body .desktop-menu li {
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all 0.3s ease;
  user-select: none;
  width: 150px;
}
body .desktop-menu li i {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
body .desktop-menu li .desktop-submenu {
  display: none;
  z-index: 1000;
  position: absolute;
  width: 150px;
  left: 100%;
  top: 0%;
  border: 1px solid #ccc;
  white-space: nowrap;
  background: #fff;
  color: #333;
  border-radius: 5px;
  padding: 0;
}
body .desktop-menu li .desktop-submenu li:hover {
  background-color: #def;
}
body .desktop-menu li:has(ul) {
  background-color: red;
}
body .desktop-menu li:hover {
  background-color: #def;
}
body .desktop-menu li:hover .desktop-submenu {
  display: block;
}

body {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background-color: #000;
}

body .desktop-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 30px);
  padding: 5px;
}
body .desktop-flex .flex-file-space {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .desktop-flex .flex-file-space .folder {
  position: relative;
  width: 70%;
  height: 70%;
  bottom: 10%;
  border: unset;
  background: unset;
  background: url(/assets/img/folder.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 200ms;
}
body .desktop-flex .flex-file-space .folder span {
  position: absolute;
  background-color: rgba(221, 238, 255, 0.8);
  padding: 2px 3px;
  width: 100%;
  max-height: 30%;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
}
body .desktop-flex .flex-file-space .folder span:active,
body .desktop-flex .flex-file-space .folder span:focus {
  max-height: none;
  height: auto;
  overflow: auto;
}
body .desktop-flex .flex-file-space .folder:hover {
  transform: scale(1.1);
}
body .desktop-flex .flex-file-space .folder:hover span {
  max-height: none;
  height: auto;
  overflow: auto;
}

.bgimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgimage img {
  width: 100%;
  height: 100%;
}

.bgimage.contain img {
  object-fit: contain;
}

.bgimage.fill img {
  object-fit: fill;
}

.bgimage.cover img {
  object-fit: cover;
}

.bgimage.revert img {
  object-fit: revert;
}

.taskbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.taskbar .start-menu-btn {
  margin-right: 5px;
}
.taskbar * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.taskbar *[window-type]:hover:not(:active) {
  box-shadow: inset 1px 1px 2px #000;
}
.taskbar *[window-type].active:not(:hover) {
  box-shadow: inset -2px -2px 5px #fff;
}
.taskbar *[window-type] img {
  width: 80%;
  height: 80%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.modals .modal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 2px 10px #0008;
}
.modals .modal .top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}
.modals .modal .top .title {
  margin-left: 10px;
  font-weight: 700;
}
.modals .modal .top .top-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
  justify-content: end;
  margin-right: 5px;
}
.modals .modal .top .top-buttons .minimize,
.modals .modal .top .top-buttons .expand,
.modals .modal .top .top-buttons .close {
  position: relative;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.modals .modal .top .top-buttons .minimize.disabled,
.modals .modal .top .top-buttons .expand.disabled,
.modals .modal .top .top-buttons .close.disabled {
  cursor: default;
  background-color: rgba(100, 100, 100, 0.5);
}
.modals .modal .top .top-buttons .minimize {
  background-color: lightblue;
}
.modals .modal .top .top-buttons .expand {
  background-color: lightblue;
}
.modals .modal .top .top-buttons .close {
  background-color: red;
}
.modals .modal .menu {
  background-color: grey;
  height: 40px;
}
.modals .modal .window {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
.modals .modal .window .side {
  background-color: #c3c3c3;
  height: 100%;
  width: 200px;
}
.modals .modal .window .main {
  height: 100%;
  width: 100%;
}
.modals .modal .window .main:not(.no-scroll) {
  overflow-y: scroll;
}
.modals .modal.expanded {
  width: 100vw;
  height: calc(100vh - 30px);
  top: 0;
  left: 0;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.loading-screen .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading-screen .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-screen .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loading-screen .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading-screen .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading-screen .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  overflow: hidden;
}
.login-container .login-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 200%;
  transition: transform 200ms ease-in-out;
}
.login-container .login-wrapper .login-form,
.login-container .login-wrapper .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 20px;
}
.login-container .login-wrapper .login-form h2,
.login-container .login-wrapper .register-form h2 {
  text-align: center;
  padding: 20px;
}
.login-container .login-wrapper .login-form button,
.login-container .login-wrapper .register-form button {
  margin: 20px;
}
.login-container .login-wrapper .login-form .err-msg,
.login-container .login-wrapper .register-form .err-msg {
  color: red;
}
.login-container .login-wrapper.login-form-transition {
  transform: translateX(-50%);
}

input {
  border-radius: 5px;
  border-width: 1px;
  padding: 5px;
  text-align: center;
}

button,
.button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  border: unset;
  border-radius: 15px 0px 15px 0px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, white 100%);
  background-size: 200% 200%;
}

button:hover,
.button:hover,
button:active,
.button:active {
  animation: animateButtonHover 1s infinite;
}

@keyframes animateButtonHover {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
button.small,
.button.small {
  width: 100px;
}

button.medium,
.button.medium {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
